#root {
    
    padding: 0.5rem;
    --purple: #150939;
    --lila-white: #EEDDEF;
    --light-purple: #3D2A75;
    --ice-white: rgba(255, 255, 255, 0.87);
    overflow: hidden;
    background-color: var(--purple);
    --gradient-purple: linear-gradient(90deg, #150939 0%, #3D2A75 100%);
    --gradient-purple-dark: linear-gradient(90deg, #150939 0%, #3D2A75 100%);
  }
  
  
  
  
  body {
    margin: 0;
    padding: 0;
    display: flex;
    /* min-width: 320px; */
    min-height: 100vh;
    color: var(--lila-white);
  }

  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .home--navigation {

    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0px;
    backdrop-filter: blur(9px);
    border-bottom: 1px solid var(--lila-white);
  
  }

  
  .home--search {
    color: var(--ice-white);
    background-color: var(--light-purple);
    border-radius: 5px;
    width: 80%;
    align-self: center;
  }


  .home--display-top {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    overflow-x: auto;
    margin: 0%;
    padding: 20px 0px 0px 0px;
    
  }

 .home--top-ten {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    border-bottom: 1px solid var(--lila-white);
    border-top: 1px solid var(--lila-white);
    padding-bottom: 1px ;
    margin-top: 62px;
 }

 .home--top-title {
    border-right: 1px solid var(--lila-white);
    writing-mode: vertical-lr;
    line-height: 1rem;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    color: var(--lila-white);
    font-size: 14px;    
    letter-spacing: 3px;
 }


  .home--title {
    color: var(--lila-white);
    font-size: 14px;
    font-weight: 500;
    height: 15px;
  }

  .home--card-image {
    width: 120px;
    border-radius: 2rem;
    padding: 0px 0px 0px 0px;
    background-color: var(--lilac);
  }

  .home--card-label {
    font-size: 13px;
    font-weight: 300;
    text-align: center;
  }

  .home--card-seasons {
    font-size: 14px;
    font-weight: 200;
  }


  .home--card-description {
    font-size: 14px;
    font-weight: 200;
  }

  .home--card-updated {
    font-size: 14px;
    font-weight: 200;
  }


  /* Genres section */

  .home--genres-title {
    text-transform: uppercase;
    color: var(--lila-white);
    font-size: 14px;    
    letter-spacing: 3px;
    font-weight: 400;
    padding: 0.5rem 2.5rem;
  }


.home--genres-button-group {
  margin: 0px 0px 10px 5px;
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  gap: 0.5rem;
}

/* genres results */
.genre--results-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
}

.genre--results-details {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  border: 2px solid var(--light-purple);
  border-radius: 12px;
  padding: 10px;
  align-items: center;
}

.genre--results-image {
  width: 2.3rem;
  background-color: var(--lilac);
  border-radius: 9px;
}

.genre--results-title {
  font-size: 14px;
  
}
/* bottom nav */

.bottom-nav {
  background-color: var(--purple);
  position: fixed;
  bottom: -1px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  box-shadow: 0 -2px 6px rgba(165, 164, 165, 0.1);
  border-top: 1px solid var(--lila-white);
}