:root {
    --purple: #150939;
    --lila-white: #EEDDEF;
    --light-purple: #3D2A75;
}



.login--form {
    border: 1px solid #EEDDEF;
    color: #EEDDEF;
    background-color: var(--light-purple)
}

/* #outlined-basic {
    border: 2px solid var(--lila-white);
    color: #EEDDEF;
} */

#standard-basic {
    color: var(--lila-white);
}


