:root {
    --purple: #150939;
    --lila-white: #EEDDEF;
    --light-purple: #3D2A75;
    margin: 0 ;
}

body {
    margin: 0;
    padding: 0;
    }


.login--form {
    border: 1px solid var(--light-purple);
    border-radius: 12px;
    padding: 10px;
    color: var(--lila-white);
}

/* #outlined-basic {
    border: 2px solid var(--lila-white);
    color: #EEDDEF;
} */

#standard-basic {
    color: var(--lila-white);
}


