.details--page {
    margin: 0;
    padding: 0;
}

.details--header {
    position: relative;
    border-bottom: var(--light-purple) 1px solid;
    padding-bottom: 1rem;
}

.details--header-image {
    display: block;
    width: 100%;
    filter: blur(1px);
}

.details--header-back-btn{
    position: absolute;
    top: 7%;
    left: 5%;
    color: var(--lila-white);
    font-size: 14px;
    text-align: center;
    width: 100%;
    font-weight: 500;
    text-transform: uppercase;
    opacity: 0.6;
}

.details--header-title {
    position: absolute;
    top: 5%;
    left: 0%;
    color: var(--lila-white);
    font-size: 14px;
    text-align: center;
    width: 100%;
    font-weight: 500;
    text-transform: uppercase;
    opacity: 0.6;
}

.details--header-pod-image {
    width: 7rem;
    border-radius: 20px;
    border: 5px solid var(--lila-white);
    transform: translate(100%, -100%);
    position: absolute;
}

.details--header-description {
    font-size: 12px;
    font-weight: 300;
    color: var(--lilac);
    padding: 10px ;
    text-align:justify;
}

.details--header-seasons-genres {
    font-size: 14px;
    color: var(--lila-white);
    font-weight: 500;
    text-align: center;
}

.details--seasons-btns {
    margin: 0px 0px 10px 5px;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 0.5rem;
    padding-bottom: 40px;
  }

/* seasons and genres */

.details--section {
    display: grid;
    grid-template-columns: 1fr auto;
    border-top: 1px solid var(--lila-white);
    
    }

.details--season-title {
    border-right: 1px solid var(--light-purple);
    writing-mode: vertical-lr;
    line-height: 1rem;
    text-align: left;
    padding: 10px 10px 10px 10px; 
    text-transform: uppercase;
    color: var(--lila-white);
    font-size: 14px;    
    letter-spacing: 3px;
    font-weight: 300;
    position: relative;
    
}

.details--show-cards {
    border-bottom: 1px solid var(--light-purple);
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.details--cards-image {
    width: 55px;
    height: 55px;
    border-radius: 13px;
}
  
.details--cards-text {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    
}

.details--cards-episode {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.details--cards-episode-description {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 200;
    width: 240px;
}

.details--podcast-play {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.details--podcast-title {
    font-size: 12px;
    color: var(--light-purple);
    padding-top: 2px;
}

.details--audio-btn {
    align-self:flex-end;
}



 .latest--selection-group {
    display: flex;
    gap: 12px
 }

 .details--seasons-btn-group {
    margin: 0px 0px 10px 5px;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 0.5rem;
  }
  