
/* page body*/
.search--page {
    margin: 0 auto;
    padding: 0.5rem;
    
}

.search--results-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    
    
}

.home--search-field {
    
    overflow: hidden;
    background-color: var(--lila-white);
    --gradient-purple: linear-gradient(90deg, #150939 0%, #3D2A75 100%);
    --gradient-purple-dark: linear-gradient(90deg, #150939 0%, #3D2A75 100%);
    font-size: 14px;
    font-weight: 300;
    border-radius: 15px;
    padding: 1px;
    width: 100%;
}

/* .search--results-description {
    text-overflow: ellipsis;
} */

/* results */

.search--results {
    margin-top: 15px;
}

.search--results-cards {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--lila-white);
    padding: 10px;
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 300;
    
}

.search--results-image {
    width: 50px;
    border-radius: 0.5rem;
  }

.search--results-description {
    display: flex;
    flex-direction: row;
    /* overflow-x: auto; */
    /* margin: 0%; */
    padding: 10px 0px 10px 0px;
    font-size: 14px;
}

.search--results-title {
    font-size: 14px;
    font-weight: 500;
    text-align: left;
}

.search--results-text {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    
}



/* .latest--card-details {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    margin: 0%;
    padding: 10px 0px 0px 0px;
    
} */

.search--results-updated {
    font-size: 12px;
    font-weight: 200;
}


/* .latest--card-season {
    font-size: 12px;
    font-weight: 200;
} */

.search--results-genres {
    font-size: 12px;
    font-weight: 200;
}
