
/* page body*/
.search--page {
    margin: 0;
    padding: 0;
}

.search--header {
    position: relative;
    border-bottom: var(--light-purple) 1px solid;
    padding-bottom: 1rem;
}

.search--header-image {
    display: block;
    width: 100%;
    filter: blur(1px);
 }


  .search--header-title {
    position: absolute;
    top: 40%;
    left: 0%;
    color: var(--lila-white);
    font-size: 24px;
    text-align: left;
    width: 90%;
    font-weight: 300;
    text-shadow: var(--purple) 10px 10px 40px;
    margin: 2rem 1rem 0rem 1rem;
  }

.search--field {
    background-color: var(--lila-white);
    font-size: 14px;
    border-radius: 8px;
    width: 100%;
    box-shadow: var(--light-purple) 0px 0px 10px 1px; 
}






/* .search--results-description {
    text-overflow: ellipsis;
} */

/* results */

.search--results {
    margin-top: 15px;
}

.search--results-cards {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--lila-white);
    padding: 10px;
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 300;
    
}

.search--results-image {
    width: 50px;
    border-radius: 0.5rem;
  }

.search--results-description {
    display: flex;
    flex-direction: row;
    /* overflow-x: auto; */
    /* margin: 0%; */
    padding: 10px 0px 10px 0px;
    font-size: 14px;
}

.search--results-title {
    font-size: 14px;
    font-weight: 500;
    text-align: left;
}

.search--results-text {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    
}



/* .latest--card-details {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    margin: 0%;
    padding: 10px 0px 0px 0px;
    
} */

.search--results-updated {
    font-size: 12px;
    font-weight: 200;
}


/* .latest--card-season {
    font-size: 12px;
    font-weight: 200;
} */

.search--results-genres {
    font-size: 12px;
    font-weight: 200;
}
