:root {
    --lilac: #9a8dc2;
}
/* page body*/
.search--page {
    margin: 0;
    padding: 0;
}

.search--header {
    position: relative;
    border-bottom: var(--light-purple) 1px solid;
    padding-bottom: 1rem;
}

.search--header-image {
    display: block;
    width: 100%;
    filter: blur(1px);
 }

.search--header-title {
    position: absolute;
    top: 40%;
    left: 0%;
    color: var(--lila-white);
    font-size: 24px;
    text-align: left;
    width: 90%;
    font-weight: 300;
    text-shadow: var(--purple) 10px 10px 40px;
    margin: 2rem 1rem 0rem 1rem;
}

.search--field {
    background-color: var(--lila-white);
    font-size: 14px;
    border-radius: 8px;
    width: 100%;
    box-shadow: var(--light-purple) 0px 0px 10px 1px; 
}

/* results */

.search--results {
    margin-top: 15px;
    margin-bottom: 100px;
}

.search--results-cards {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
    border-bottom: 1px solid var(--light-purple);
    padding: 10px;
    height: 80px;
    overflow: hidden;
    cursor: pointer;
}

.search--results-image {
    width: 60px;
    border-radius: 0.5rem;
    background-color: var(--light-purple);
  }

.search--results-text {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    justify-content: center;}

.search--results-title {
    font-size: 14px;
    font-weight: 500;
}

.search--results-date-genres {
    font-size: 12px;
    font-weight: 500;
    color: var(--lilac);
}

.search--results-description {
    font-size: 14px;
    font-weight: 200;
    color: var(--lila-white);
    max-width: 220px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}


