

/* latest uploads body*/

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.latest--episodes {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    border-bottom: 1px solid var(--lila-white);
    padding-bottom: 1px ;
}

.latest--title {
    border-right: 1px solid var(--lila-white);
    writing-mode: vertical-lr;
    line-height: 1rem;
    text-align: left;
    padding: 50px 10px 10px 10px;
    text-transform: uppercase;
    color: var(--lila-white);
    font-size: 14px;    
    letter-spacing: 3px;
 }

 .latest--selection-group {
    display: flex;
    gap: 12px
 }
/* cards */

.latest--section {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    border-top: 1px solid var(--lila-white);
    margin-bottom: 120px;
}

.latest--cards {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}

.latest--card-image {
    width: 60px;
    border-radius: 0.5rem;
    background-color: var(--lilac);
  }

.latest--card-details {
    display: flex;
    flex-direction: row;
    /* overflow-x: auto; */
    /* margin: 0%; */
    padding: 10px 0px 10px 0px;
    
}

.latest--card-title {
    font-size: 14px;
    font-weight: 500;
    text-align: left;
}

.latest--card-text {
    display: grid;
    grid-template-columns: 1fr;
    padding:  5px 0px 9px 15px;
    text-align: left;
}



/* .latest--card-details {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    margin: 0%;
    padding: 10px 0px 0px 0px;
    
} */

.latest--card-date {
    font-size: 12px;
    font-weight: 200;
}


.latest--card-season {
    font-size: 12px;
    font-weight: 200;
}
