#root {
  margin: 0 auto;
}

body {
  margin: 0%;
}

/* #root {
  margin: 0 auto;
  padding: 2rem;
  --purple: #150939;
  --lila-white: #EEDDEF;
  --light-purple: #3D2A75;
  
}

* {
  background-color: var(--purple);
}


body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  color: var(--lila-white);
} */